*.pyc
.vscode
.idea
.DS_Store
.nfs*
__pycache__
*.pth
output
outputs
outputs/
build
shell
private
apex
# pixi environments
.pixi
*.egg-info
 
submodules/
tests/
outputs/

configs-ori/
configs/scenarios
configs/scenarios/
